In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Sample user-item rating matrix
data = {
    'User1': [5, 3, 0, 1],
    'User2': [4, 0, 0, 1],
    'User3': [1, 1, 0, 5],
    'User4': [1, 0, 0, 4],
    'User5': [0, 1, 5, 4],
}
df = pd.DataFrame(data, index=['ItemA', 'ItemB', 'ItemC', 'ItemD'])
df

       User1  User2  User3  User4  User5
ItemA      5      4      1      1      0
ItemB      3      0      1      0      1
ItemC      0      0      0      0      5
ItemD      1      1      5      4      4

In [11]:
item_user_matrix = df.T
item_user_matrix

       ItemA  ItemB  ItemC  ItemD
User1      5      3      0      1
User2      4      0      0      1
User3      1      1      0      5
User4      1      0      0      4
User5      0      1      5      4

In [13]:
item_user_matrix.T

       User1  User2  User3  User4  User5
ItemA      5      4      1      1      0
ItemB      3      0      1      0      1
ItemC      0      0      0      0      5
ItemD      1      1      5      4      4

In [12]:
# Compute cosine similarity between items
item_similarity = pd.DataFrame(
    cosine_similarity(item_user_matrix.T),
    index=item_user_matrix.columns,
    columns=item_user_matrix.columns
)

item_similarity

          ItemA     ItemB     ItemC     ItemD
ItemA  1.000000  0.735681  0.000000  0.357365
ItemB  0.735681  1.000000  0.301511  0.471041
ItemC  0.000000  0.301511  1.000000  0.520756
ItemD  0.357365  0.471041  0.520756  1.000000

In [3]:
# Transpose to get item-user matrix
item_user_matrix = df.T
item_user_matrix

       ItemA  ItemB  ItemC  ItemD
User1      5      3      0      1
User2      4      0      0      1
User3      1      1      0      5
User4      1      0      0      4
User5      0      1      5      4

In [4]:
item_user_matrix.T

       User1  User2  User3  User4  User5
ItemA      5      4      1      1      0
ItemB      3      0      1      0      1
ItemC      0      0      0      0      5
ItemD      1      1      5      4      4

In [10]:
df.columns

Index(['User1', 'User2', 'User3', 'User4', 'User5'], dtype='object')

In [9]:
pd.DataFrame(cosine_similarity(df),index=df.columns)

ValueError: Shape of passed values is (4, 4), indices imply (5, 4)

In [ ]:

# Compute cosine similarity between items
item_similarity = pd.DataFrame(
    ,
    index=df.columns,
    columns=df.columns
)

print("Item Similarity Matrix:")
item_similarity

ValueError: Shape of passed values is (4, 4), indices imply (5, 5)

In [ ]:



# Recommend for User1 (who rated ItemA = 5, ItemB = 3, ItemD = 1)
# Get predicted score for ItemC
user_ratings = item_user_matrix.loc['User1']
unseen_items = user_ratings[user_ratings == 0].index

def predict_score(user_ratings, item_name):
    sim_scores = item_similarity[item_name]
    rated_items = user_ratings[user_ratings > 0].index
    numerator = sum(user_ratings[item] * sim_scores[item] for item in rated_items)
    denominator = sum(abs(sim_scores[item]) for item in rated_items)
    return numerator / denominator if denominator != 0 else 0

for item in unseen_items:
    predicted_score = predict_score(user_ratings, item)
    print(f"Predicted score for {item}: {predicted_score:.2f}")